@font-face {
   font-family: 'Cafe24Ohsquare';
   font-display: swap;
   src: url('file:///C:/Users/USER/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-09-24_102632/fonts/Cafe24Ohsquare/font.ttf');
}
